{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}
  {% if object %}
    Змінити курс "{{ object.title }}"
  {% else %}
    Створити новий курс
  {% endif %}
{% endblock %}

{% block content %}
  <h2>
    {% if object %}
      Змінити курс "{{ object.title }}"
    {% else %}
      Створити новий курс
    {% endif %}
  </h2>
  <div class="row">
    <div class="col-6">
      <h3>Інформація про курс</h3>
      <form method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <p class="text-end">
          <input type="submit" class="btn btn-primary" value="Зберегти" />
          <a href="{% url 'manage_course_list' %}" class="btn btn-danger">Ні</a>
        </p>
      </form>
    </div>
  </div>
{% endblock %}
