{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}
  Вхід на сайт
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-4">
      <h2>Вхід на сайт</h2>
      {% if form.errors %}
        <p>Не знайдено користувача з таким логіном та паролем.</p>
      {% endif %}
      <form action="{% url 'login' %}" method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <input type="hidden" name="next" value="{{ next }}" />
        <button type="submit" class="btn btn-primary">Вхід</button>
      </form>
    </div>
  </div>
{% endblock %}
