{% extends 'base.html' %}

{% load course %}

{% block title %}
  Тема {{ module.order|add:1 }}: {{ module.title }}
{% endblock %}

{% block content %}
{% with course=module.course %}
  <h2>Курс "{{ course.title }}"</h2>
  <div class="row">
    <div class="col-3">
      <h3>Теми</h3>
      <ul>
        {% for m in course.modules.all %}
          <li data-id="{{ m.id }}" {% if m == module %} class="selected" {% endif %}>
            <a href="{% url 'module_content_list' m.id %}">
              <span>Тема {{m.order|add:1 }}</span><br>
              {{ m.title }}
            </a>
          </li>
        {% empty %}
          <li>Теми відсутні</li>
        {% endfor %}
      </ul>
      <p><a href="{% url 'course_module_update' course.id %}">Змінити теми</a></p>
    </div>
    <div class="col-9">
      <h3>Тема {{ module.order|add:1 }}. {{ module.title }}</h3>
      <hr>
      {% for content in module.contents.all %}
        <div data-id="{{ content.id }}">
          {% with item=content.item %}
            <p>{{ item }} ({{ item|model_name|capfirst }})</p>
            <a href="{% url 'module_content_update' module.id item|model_name item.id %}">📝</a>
            <form action="{% url 'module_content_delete' content.id %}" method="post">
              {% csrf_token %}
              <input type="submit" value="❌">
            </form>
          {% endwith %}
        </div>
      {% empty %}
        <p>
          Контент відсутній.
        </p>
      {% endfor %}
      <h4>Додати:</h4>
      {% with content_types=["text", "image", "file", "url", "video"] %}
        <ul>
            {% for content in content_types %}
                <li>
                  <a href="{% url 'module_content_create' module.id content %}">{{ item|capfirst }}</a>
                </li>
            {% endfor %}
        </ul>
      {% endwith %}
    </div>
  </div>
{% endwith %}
{% endblock content %}
